*.vs
*x64
*glfw3.lib
*assimpd.lib
*IrrXMLd.lib
*zlibd.lib
*assimp.lib
*IrrXML.lib
*zlib.lib
include/glm
include/GLFW
include/VulkanMemoryAllocator/vk_mem_alloc.h
include/stb_image.h
include/assimp
Assets/Textures/
Assets/Models/
