*.vs
*x64
*glfw3.lib
*assimpd.lib
*IrrXMLd.lib
*zlibd.lib
*assimp.lib
*IrrXML.lib
*zlib.lib
include/glm
include/GLFW
include/VulkanMemoryAllocator/vk_mem_alloc.h
include/stb_image.h
include/assimp
Assets/Textures/
Assets/Models/
enc_temp_folder/88cd8f254c5e60dd45dde5a2fc8367f/IRModel.h
RaceEngineer/Sample/fordmustanggt3_algarve gp 2026-01-24 20-14-11.7z
RaceEngineer/Sample/porsche992rgt3_lemans full 2026-01-04 16-58-35.ibt
enc_temp_folder/88cd8f254c5e60dd45dde5a2fc8367f/IRModel.h
/enc_temp_folder
